<configuration>
  <packageSources>
    <clear />
    <add key="Maui-Nightly" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-nightly/nuget/v3/index.json" />
    <add key="SponsorConnect" value="https://sponsorconnect.dev/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>